{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
      <meta charset="utf-8"/>
      <title>Мессенджер</title>
      <meta name="description" content="Мессенджер"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="HandheldFriendly" content="true"/>
      <!-- Jquery -->
      <script src="{% static 'scripts/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
      <!-- FontAwesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
      <!-- MyStyle -->
      <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  </head>
  <body>
    <section class="messager">
      <header>
        <a class="header-title" href="{% url 'chat' %}"><img src="{% static '/images/logo.png' %}" width="50"><h1>Малинка</h1></a>
        <div class="header-menu">
          <h4>{% if request.user.is_authenticated %}{{request.user}}{% endif %}<span id="current_user" style="display:none;">{{request.user.pk}}</span></h4>
          <a class="button" href="{% url 'account_logout' %}">Выйти</a>
        </div>
      </header>
      <section class="messages-wrap">
        <div id="messages_list" class="messages">

          <div id="message_empty" class="message-block" style="display:none;">
              <h5></h5>
              <p></p>
              <span class="time"></span>
          </div>

        </div>
      </section>
      <footer>
        <form id="chatform" onsubmit="return false;" class="messager-form">
          {% csrf_token %}
          <input id="text" type="text" />
          <buttom class="button" id="send" type="button">Отправить</button>
        </form>
        <script src="{% static 'scripts/send.js' %}" type="text/javascript"></script>
        <script src="{% static 'scripts/messages.js' %}" type="text/javascript"></script>
        <script src="{% static 'scripts/websocket.js' %}" type="text/javascript"></script>
      </footer>
    </section>
  </body>
</html>